node_modules

/.cache
/server/build
/public/build
.env
.env.development
build
./build
build
app/styles
build/index.js
coverage/
coverage
.invalid
.vercel/remix-build-result.json
.env.dev
**/*/.DS_STORE
.DS_STORE